{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PascaSarjana</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <img  src="{% static "images/Pasca Sarjana.jpg" %}" alt="Pascasarjana" width="100%">

</head>
<body>
    <h1>FAKULTAS PASCASARJANA</h1>
    <h2>Terdiri dari beberapa prodi, yaitu:</h2>
    <p>Prodi Pendidikan Matematika, Prodi Akuntansi, Prodi Administrasi Publik, Prodi Pendidikan Bahasa Indonesia</p>
    
</body>
</html>