{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fisip</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <img  src="{% static "images/Fisip.jpg" %}" alt="Fisip" width="50%">

</head>
<body>
    <h1>FAKULTAS ILMU SOSIAL & ILMU POLITIK</h1>
    <h2>Terdiri dari beberapa prodi, yaitu:</h2>
    <p>Prodi Ilmu Komunikasi, Prodi Ilmu Pemerintahan, Prodi Administrasi Publik</p>
    
</body>
</html>