{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fk</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <img  src="{% static "images/Kedokteran.jpg" %}" alt="Fk" width="30%">


</head>
<body>
    <h1>FAKULTAS KEDOKTERAN</h1>
    <h2>Terdiri dari beberapa prodi, yaitu:</h2>
    <p>Prodi Pendidikan Dokter, Prodi Keperawatan, Prodi Gizi</p>
    
</body>
</html>